<h3> Authorization Code flow</h3>
<div>
  <%= link_to 'Sign in with email', new_account_kit_session_path(type: 'email')%>
</div>
<div>
  <%= link_to 'Sign in with mobile number', new_account_kit_session_path(type: 'mobile')%>
</div>
